<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Toggles for component</h2>
<label>Feature A:</label>
<label class="form-check-inline">
  <span>ON</span>
  <input class="form-check-input" type="radio" name="mode" [value]="true" (click)="toggleChanged(true)">
</label>
<label class="form-check-inline">
  <span>OFF</span>
  <input class="form-check-input" type="radio" name="mode" [value]="false" checked (click)="toggleChanged(false)">
</label>
<h2>The components rendering</h2>

<app-feature-container></app-feature-container>

