<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Toggles for component</h2>
<label>Feature A:</label>
<button class="button" (click)="toggleChanged({feature: 'featureA', mode:true})"> Add </button>
<button class="button button-red" (click)="toggleChanged({feature: 'featureA', mode:false})"> Remove </button>
<hr/>
<label>Feature B:</label>
<button class="button" (click)="toggleChanged({feature: 'featureB', mode:true})"> Add </button>
<button class="button button-red" (click)="toggleChanged({feature: 'featureB', mode:false})"> Remove </button>



<h2>The components rendering</h2>

<app-feature-container featureName="featureA"></app-feature-container>

<app-feature-container featureName="featureB"></app-feature-container>

